# Environment
.env

# IDE
.vscode/

# Dev/scratch
dev/

# Runtime data
data/prometheus/*
!data/prometheus/.gitkeep
data/alertmanager/
data/uptime-kuma/*
!data/uptime-kuma/.gitkeep
data/caddy/*
!data/caddy/.gitkeep
data/loki/*
!data/loki/.gitkeep
grafana/*
!grafana/.gitkeep
!grafana/provisioning

# OS
.DS_Store
Thumbs.db

# Logs
*.log